

ol.stages {
  --strike-width: .2em;
  --button-size: 2em;
  --bgcolor: #e0f7fa;
  --stageCounter :1;
  position: relative;
  display: flex;
  margin: 0 0 var(--stage-container-height);
  padding: 0;
  list-style: none;
  counter-set: stageCounter;

}


#serpicoapp ol.stages * {
  transition: none;
}

.terminal-btn {
  padding: 0 0.5rem;
}

/*
ol.stages::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: var(--strike-width);
  background-color: #5CD08F;
}
*/

ol.stages ::before,
ol.stages ::after {
  pointer-events: none;
  vertical-align: top;
}

ol.stages > li {
  width: 100%;
  counter-increment: stageCounter;
}

ol.stages > li:not(.completed-stages-element) {
  counter-increment: stageCounter;
}


.stage-item-button {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--button-size);
  width: var(--button-size);
  overflow: hidden;
  border: var(--strike-width) solid #16AFB7;
  border-radius: 9999px;
  background-color: #fff;
}
.stage-item-button-past {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--button-size);
  width: var(--button-size);
  overflow: hidden;
  border: var(--strike-width) solid orangered;
  border-radius: 9999px;
  background-color: #fff;
}

ol.stages > li > .stage-item-button {
  cursor: pointer;

}

/*
.stage-item-button:not(.completed-stages)::before {
  font-size: 2em;
  content: counter(stageCounter);
}*/

.stage-item-button.completed-stages{
  position: relative;
}

/*ol.stages > li > .stage-item-button {
  cursor: pointer;

}*/

/*.stage-item-button-past:not(.completed-stages)::before {
  font-size: 2em;
  content: counter(stageCounter);
}*/

.o-cancelled .stage-item-button{
  border: var(--strike-width) solid red;
  background-color: red;
  color: red;
}
.o-discarded .stage-item-button{
  border: var(--strike-width) solid grey;
  background-color: grey;
  color: grey;
}
.o-requested .stage-item-button{
  border: var(--strike-width) solid blue;
  background-color: blue;
  color: blue;
}
.o-attributed .stage-item-button{
  border: var(--strike-width) dotted blue;
  background-color: blue;
  color: blue;
}
.o-incomplete .stage-item-button{
  border: var(--strike-width) solid orange;
  background-color: orange;
  color: orange;
}
.o-future .stage-item-button{
  border: var(--strike-width) solid purple;
  background-color: purple;
  color: purple;
}
.o-current .stage-item-button{
  border: var(--strike-width) solid #16AFB7;
  background-color: #16AFB7;
  color: #16AFB7;
}
.o-completed .stage-item-button, .o-published .stage-item-button{
  border: var(--strike-width) solid #4CAF50;
  background-color: #4CAF50;
  color: #4CAF50;
}
.p-stopped .stage-item-button{
  border: var(--strike-width) solid red;
  background-color: red;
  color: red;
}
.p-postponed .stage-item-button{
  border: var(--strike-width) solid brown;
  background-color: brown;
  color: brown;
}
.p-suspended .stage-item-button{
  border: var(--strike-width) solid orange;
  background-color: orange;
  color: orange;
}
.p-reopened .stage-item-button{
  border: var(--strike-width) dotted #16AFB7;
  background-color: #16AFB7;
  color: #16AFB7;
}
.p-unstarted .stage-item-button{
  border: var(--strike-width) solid grey;
  background-color: grey;
  color: grey;
}
.p-upcoming .stage-item-button{
  border: var(--strike-width) solid purple;
  background-color: purple;
  color: purple;
}
.p-ongoing .stage-item-button{
  border: var(--strike-width) solid #16AFB7;
  background-color: #16AFB7;
  color: #16AFB7;
}
.p-completed .stage-item-button, .p-finalized .stage-item-button{
  border: var(--strike-width) solid #4CAF50;
  background-color: #4CAF50;
  color: #4CAF50;
}

.stage-item-button > i{
  font-size: calc(var(--button-size) * 0.85);
}

.stage-item-button {
  z-index: 999;
}

.stages.simult .stage-item-button{
  position: absolute;
  left: calc(50% - 0.25rem);
  top: -0.25rem;
  /*left: calc(0px - var(--button-size) / 2 );
  top: calc(0px - 3/10 *var(--button-size));*/
}

.stages:not(.simult) .stage-item-button{
  position: absolute;
  left: calc(50% - 0.5rem);
  top: -0.5rem;
  /*left: calc(0px - var(--button-size) / 2 );
  top: calc(0px - 3/10 *var(--button-size));*/
}

.stage-item-name {
  font-size: 1.2em;
  font-weight: 300;
  height: var(--stage-interspace);
  text-align: center;
  overflow: hidden;
}

.stage-add > .stage-item-name {
  line-height: var(--stage-interspace);
}

.stage-item-name .visibility > .material-icons {
  font-size: 1.2em;
  line-height: 1;
}

.stage-item-name > .meta {
  font-size: .8em;
}

.stage-item-name > .name {
  overflow: hidden;
  text-overflow: ellipsis;
}

li.stage-element::after {
  --size: .8;
  --margin: calc(1 - var(--size));
  --width: calc(var(--stage-interspace) * var(--size));

  content: "";
  position: relative;
  z-index: -1;
  display: block;
  height: 0;
  width: 0;
  margin: calc(var(--stage-interspace) * var(--margin)) auto 0;
  border-color: transparent;
  border-style: solid;
  border-width: var(--width);
  border-top-width: 0;
  border-bottom-width: var(--width);
  border-bottom-color: var(--bgcolor);
}

.stage-container {
  --margin: calc(var(--stage-interspace) / 2);

  position: absolute;
  top: calc(100% - var(--margin));
  left: var(--margin);
  right: var(--margin);
  height: var(--stage-container-height);
  background-color: var(--bgcolor);
  border-radius: 2px;
  box-shadow: var(--simple-shadow);
  padding: 0;
}

.completed-stages-container {
  background-color: #f6f6f6;
}

.stage-item-name .s-weighting{
  display: none;
}

.stage-item-name .stage-progress-status>i{
  line-height: 24px;
}

.name .name-and-progress{
  display: inline-block;
}


.modified-fixed-btn{
  position: relative;
  color:black!important;
  padding-top: 0px;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.modified-fixed-btn >a{
  color:black!important;
  padding-top: 0px;
}

.act-btn > .fa {
  font-size: 1.3rem;
}

.create-act-btn > i{
  font-size: 2rem;
}

li.stage-element:not(.active)::after,
li.stage-element:not(.active) > .stage-container {
  visibility: hidden;
}

li.stage-element.active > .stage-item-button,
li.stage-element.active > .stage-item-name > .name {
  font-weight: bold;
}
li.stage-element.active > .stage-item-button_past,
li.stage-element.active > .stage-item-name > .name {
  font-weight: bold;
}
.stage-container--main {
  display: flex;
  height: 100%;
  padding: 4rem 0 2rem 0;
}

.stage-container--main > section {
  flex: 1;
  overflow: auto;
  padding: 0 2rem;
}

.stage-container--main > section:not(:last-of-type) {
  border-right: thin solid #0002;
}

.criteria-list > li, .participants-list > li {
  height: 50px;
}

section li.no-items-placeholder {
  height: auto;
}

.stage-weight {
  position: absolute;
  top: 1rem;
  left: 0rem;
  font-size: .8em;
}

.stage-progress i {
  line-height: 24px;
  font-size: 0.8rem;
}
.stage-container .stage-progress-status {
  position: absolute;
  top: 1rem;
  left: 10rem;
  font-size: .8em;
}

.stage-p-status{
  margin: 0 5px;
}

.stage-actions {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: .8em;
}

.stage-actions > a {
  font-size: 1em;
  padding: 0 8px;
}

.stage-actions > a > .material-icons {
  font-size: 2em;
}

.stage-container--main > section > header {
  display: flex;
  font-size: 1.6em;
  font-weight: 300;
  border-bottom: thin solid #0002;
  margin-bottom: .5em;
  height: 50px;
}
/*
.stage-item-button::before {
  content: counter(stageCounter);
}*/

/*
.stage-item-button-past::before {
  content: counter(stageCounter);
}*/

.past-period::before{

  background-color: gray !important;

}
.ongoing-period{
  margin-left: auto;
}

.event{
  position: absolute;
  top: -1.6rem;
  left:-0.3rem;
}
