#hero {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.first-section-container{
  width: 90%;
  margin:auto;
}

.calendar-element{
  margin-left: auto;
  width:400px;
  height: 200px;
}

.stages-holder{
  height: 33%;
}

.motto{
  font-weight: 700;
}

.calendar-element .row{
  height: 100%;
}

.calendar-holder{
  height: 100%;
  background: repeating-linear-gradient(90deg, rgba(0, 150, 136, 0.17), rgba(0, 150, 136, 0.42) 14.28%, rgb(255, 255, 255) 14.28%, rgb(255, 255, 255) 28.56%);
}

.months-holder{
  display: flex;
  justify-content: space-around;
  margin-top: -2rem;
}


.landing-section-steps-elements {
  --size: 40px;
  position: relative;
  display: block;
  top: auto;
  left: auto;
  height: auto;
  margin: 0;
  max-width: none;
}

.landing-section-steps-elements::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: calc(var(--size) / 2);
  box-shadow: 0 0 0 4px #58ce8c;
}

.landing-section-steps-elements li {
  position: relative;
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: calc(var(--size) / 3) 0;
}

.landing-section-steps-elements li::before {
  content: "";
  height: var(--size);
  width: var(--size);
  margin-right: var(--size);
  border: 7px solid #2ba9b3;
  border-radius: 9999px;
  background-color: #fff;
}
