.sq-root-custom{
    margin-left: 7%;
    width: 70%;
}

.sq-button-custom{
    margin-top: 5%;
    margin-left: 40%;
    margin-bottom: 5%;
}

.dropdown {
    background-color: lightgrey;
    width: 20%;
}

.removeBtn{
    margin-top: 5%;

}
