

    <div class="row">
        <div class="target-title">
            <h4>Criterion __nb__</h4>
        </div>
        <div class="delete-btn">
            <a class=""> __DeleteButton__</a>
        </div>
    </div>
    <div class="input-field col s12 m6">
        {{ form_row(item.name) }}
    </div>
    <div class="col s12 m6">
        {{ form_row(item.type) }}
    </div>
    
