<ul class="flex-center-sb">

	<div class="flex-center row">

    __DeleButton__
  </div>
  <li class="input-field element-linear row" style="display:none ;width: 500px">
    <div class="col s6">
    {{ form_row(item.lowerbound) }}
    {{ form_row(item.upperbound) }}
    </div>
    <div class="col s6">
    {{ form_row(item.labellowerbound) }}

    </div>
  </li>


</ul>
