<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Serpico for Desktop</title>
    <!-- CSS custom -->
    <link href="../web/css/test.css" rel="stylesheet" type="text/css">
    <!-- CSS Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

</head>
<body>
<header>
    <nav>
        <div class="nav-wrapper black" >
            <a href="#" class="brand-logo">Serpico</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="sass.html">Logout</a></li>
                <li><a href="badges.html">The team</a></li>
            </ul>
        </div>
    </nav>
</header>
<main id="teampage">
    <div id="team">
        <h2>The Dark Side</h2>
        <div class="col s12 m7">
            <h2 class="header">Guillaume CHATELAIN aka GitHOME</h2>
            <div class="card horizontal">
                <div class="card-image">
                    <img src="../web/lib/img/gc.jpg" >
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m7">
            <h2 class="header">Alexandre CLAUDON aka The MasterGIT</h2>
            <div class="card horizontal">
                <div class="card-image">
                    <img src="../web/lib/img/ca.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
        <h2>The Rebels</h2>
        <div class="col s12 m7">
            <h2 class="header">Louis PENDLE aka Git Solo</h2>
            <div class="card horizontal">
                <div class="card-image">
                    <img src="../web/lib/img/solo.jpg" >
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s12 m7">
            <h2 class="header">Aurélien MOJAK aka Obi-Wan KenoGit</h2>
            <div class="card horizontal">
                <div class="card-image">
                    <img src="../web/lib/img/aurelien.jpg">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>I am a very simple card. I am good at containing small bits of information.</p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="footer-copyright">
        <div class="container">
            © <script type="text/javascript">document.write(new Date().getFullYear());</script> Copyright Team GALA
        </div>
    </div>
</footer>
</body>
</html>
