<div class="no-int-act-overlay flex-center">

    
    <div class="no-int-act-act-behind">
      <div>
        <i class="fa fa-caret-left"></i>
      </div>
    </div>
    <div class="no-int-act-title-zone">
      <h4 class="c-flex-center">
        <i class="fa fa-chalkboard"></i>
        <span>{{'activity_elements.no_int_act.main_msg'|trans}}</span>
      </h4>
    </div>
    <div class="no-int-act-act-ahead">
      <i class="fa fa-caret-right"></i>
    </div>

</div>