<li class="account flex-center-sb" data-r="">
    <div class="flex-center">  
        <img class="user-profile-l-picture sm-right" src="" alt="">
        <span class="user-name"></span>
    </div>
    <div class="account-action-zone flex-center">
        <div class="btn-flat user-master-btn flex-center-sb">
            <div class="badge-container">
                <div class="admin-badge">
                    A
                </div>
            </div>
            <span class="user-master-name">{{ 'profile.administrator'|trans }}</span>
        </div> 
        <div class="btn-flat tooltipped modal-trigger" href="#updateUserRole" data-tooltip="{{'profile.manage.update_role'|trans}}" data-position="top" style="visibility:hidden;">
            <i class="dd-orange-text mi create"></i>
        </div>
    </div>
</li>