<div class="db-LoginBackground-gridContainer">
    <div class="Box-root flex" style="grid-area: top / start / 8 / end;">
        <div class="Box-root" style="background-image: linear-gradient(white 0%, rgb(247, 250, 252) 33%); flex-grow: 1;"></div>
    </div>
    <div class="Box-root flex" style="grid-area: 4 / 2 / auto / 5;">
        <div class="Box-root Box-divider--light-all-2" style="flex-grow: 1;"></div>
    </div>
    <div class="Box-root flex" style="grid-area: 6 / start / auto / 5;">
        <div class="Box-root Box-background--blue" style="flex-grow: 1;"></div>
    </div>
    <div class="Box-root flex" style="grid-area: 7 / start / auto / 4;">
        <div class="Box-root Box-background--orange" style="flex-grow: 1;">
        </div>
    </div>
    <div class="Box-root flex" style="grid-area: 8 / 4 / auto / 6;">
        <div class="Box-root Box-background--gray100" style="flex-grow: 1;">
        </div>
    </div>
    <div class="Box-root flex" style="grid-area: 2 / 15 / auto / end;">
        <div class="Box-root Box-background--orange" style="flex-grow: 1;"></div>
    </div>
    <div class="Box-root flex" style="grid-area: 3 / 14 / auto / end;">
        <div class="Box-root Box-background--blue" style="flex-grow: 1;"></div>
    </div>
    <div class="Box-root flex" style="grid-area: 4 / 17 / auto / 20;">
        <div class="Box-root Box-background--gray100" style="flex-grow: 1;"></div>
    </div>
    <div class="Box-root flex" style="grid-area: 5 / 14 / auto / 17;">
        <div class="Box-root Box-divider--light-all-2" style="flex-grow: 1;"></div>
    </div>
</div>