{% set department = department|default(null) %}
{% set isOwnDepartment = department and department == currentuser.department %}

<li class="department-list--item hierarchized-item" data-id="{{department ? department.id : 0}}">
    <header class="{{ isOwnDepartment ? 'my-dpt' }}">
        {{ '<span class="department-name">dpt_name</span> (<span class="nb-department-users">nbDptUsers</span>)'|replace({
            'dpt_name' :  department ? department.name : '',
            'nbDptUsers' : department ? department.activeUsers|length : 0,
        })|raw }}
    
        {% if isOwnDepartment %}
            ({{ 'user_list.my_department'|trans }})
        {% endif %}
    </header>
    <div class="item-body">
    <ul class="users-list">
        {% if department %}
            {% for user in departmentM.viewableUsers(department) %}
                {% include "components/user_list__item.html.twig" with { user: user, settings: currentuser.role < 2, stats:false } %}
            {% endfor %}
        {% endif %}
    </ul>
    </div>
</li>