  <div class="e-document flex-center-sb">
    <div>
      <i class="fa fa-file e-doc-logo">
        <span class="e-doc-ext"></span>
      </i>
      <span class="m-left e-doc-title"></span>
      <span class="dd-text sm-left e-doc-size"></span>
    </div>
    <div class="flex-center">
      <ul class="doc-actions flex-center e-doc-download-zone" style="display:none">
        <li class="flex-center">
          <i class="dd-orange-text fa fa-file-download btn-flat tooltipped" data-tooltip="{{'download'|trans|capitalize}}"></i>
        </li>
        <li class="flex-center e-doc-rename-zone">
          <i class="dd-orange-text fa fa-pen btn-flat tooltipped" data-tooltip="{{'rename'|trans|capitalize}}"></i>
        </li>
        <li class="flex-center e-doc-upload-zone">
          <i class="dd-orange-text fa fa-arrow-alt-circle-up e-doc-upload btn-flat tooltipped" data-tooltip="{{'activity_elements.events.documents.document.upload_new_version'|trans|capitalize}}"></i>
        </li>
        <li class="flex-center e-doc-delete-zone">
          <i class="dd-orange-text fa fa-times btn-flat tooltipped modal-trigger" href="#deleteDocument" data-tooltip="{{'delete'|trans|capitalize}}"></i>
        </li>
      </ul>

      <div class="badge-container">
          <div class="virtual-badge">
              <i class="fa fa-cube"></i>
          </div>
          <span class="badge-text">
              Non partagé
          </span>
      </div>    

    </div>

  </div>
