<div class="e-comment edit">
  <div class="row flex-center">
    <div class="col m11 s12 input-field">
      {{ form_row(item.content)}}
    </div>
    <div class="col m1 s12">
      <i class="btn-flat fa fa-times e-com-remove no-padding"></i>
      <div class="btn com-validate btn-reduced-padding"><i class="material-icons">check</i></div>
    </div>
  </div>
</div>