  <div class="e-document">
    <div class="row flex-center">
      <div class="col m5 s12 input-field">
        {{ form_row(item.title)}}
      </div>
      <div class="col m6 s12">
        {{ form_row(item.file)}}
      </div>
      <div class="col m1 s12">
        <i class="btn-flat fa fa-times e-doc-remove no-padding"></i>
        <div class="btn doc-upload-validate btn-reduced-padding"><i class="mi check"></i></div>
      </div>
    </div>
  </div>
