  <div class="e-comment existing flex-center">
    <div class="e-com-info flex-center-sb">
      <span class="e-com-author"></span>
      <div class="e-com-right-elmts">
        <span class="e-com-updated"></span>
      </div>
    </div>
    <div>
    <span class="e-com-content">
    </span>
  </div>
