<div class="events-list--item flex-center-sb">
  <div> 
    <div class="evg-circle" style=""></div>
    <span class="sm-left evg-name"></span>
    <span class="sm-left sm-right">:</span>
    <span class="evt-name"></span>
  </div>
  <div class="flex-center">
    <div class="e-odate m-right"></div>
    <div class="e-comments m-right" style="display:none">
      <i class="fa fa-comments"></i>
      <span class="nb-coms"></span>
    </div>
    <div class="e-documents m-right" style="display:none">
      <i class="fa fa-file-alt"></i>
      <span class="nb-docs"></span>
    </div>
    <i class="fa fa-external-link-alt tooltipped dd-text" data-tooltip="{{'activity_elements.events.access_event_btn'|trans}}"></i> 
  </div>
</div>