<tr>
    <td class="fj-stage"></td>
    <td class="fj-user flex-center">
        <img src="" class="user-profile-l-picture sm-right" alt="">
    </td>
    <td class="fj-type"></td>
    <td class="fj-choice">
        <div class="switch">
            <label class="black-text">
                {{'no'|trans}}
                <input type="checkbox" value="">
                <span class="lever"></span>
                {{'yes'|trans}}
            </label>
        </div>
    </td>
</tr>