<ul class='has-barred' style='display: block;'>
  <i class='fa fa-users white-text'></i>
  <i class='fa fa-minus barred t-users-barred'></i>
  <span>{{'tooltip.activity.missing_participants'|trans}}</span>
</ul>