<tr>
    <td class="account flex-center-sb">
        <div class="flex-center">  
            <img class="user-profile-l-picture sm-right" src="" alt="">
            <span class="user-name"></span>
        </div>
    </td>
    <td class="sub-zone input-field">
    </td>
    <td>
        <input type="checkbox" id="assoc_account" name="" class="filled-in" checked="checked">
        <label for="assoc_account" class="black-text">{{'firm_settings.subscription.associate_unsubscribed_accounts_modal.table.link'|trans}}</label>
    </td>
</tr>