<li class="client-type-list--item client-firms hierarchized-item">
  
  <header>
    {{ 'firms_title (<span class="nb-client-firms">nbFirms</span>)'|replace({
          'firms_title' : 'user_list.firms'|trans,
          'nbFirms' : clients|length,
    })|raw }}
  </header>

  <div class="item-body">
    <ul class="firms-list">
      {% for client in clients %}
        {% include "components/user_list__firm_item.html.twig" with { client: client } %}
      {% endfor %}
      {# placeholder for no firms in list #}
      <li class="no-items-placeholder">
        {{ 'user_list.no_defined_firm'|trans }}
      </li>
    </ul>
  </div>
</li>
