<li class="client-type-list--item client-firms hierarchized-item">
  <header>
    {{ 'individuals_indep_title (<span class="nb-individuals-indep">nbIndivIndeps</span>)'|replace({
          'individuals_indep_title' : 'user_list.individuals'|trans,
          'nbIndivIndeps' : clients|length,
    })|raw }}
  </header>
  
  <div class="item-body">
    <ul class="user-list" data-no-user-msg="{{ 'user_list.no_defined_user'|trans }}">
      {% for client in clients %}
        {% set externalUser = client.aliveExternalUsers.first %}
        {% if externalUser %}
          {% include "components/user_list__item.html.twig" with { isIndivIndep: true, settings: currentuser.role <= 2, externalUser: externalUser, roles: false } %}
        {% endif %}
      {% endfor %}
      {# placeholder for no user in list #}
      <li class="no-items-placeholder">
        {{ 'user_list.no_defined_user'|trans }}
      </li>
    </ul>
  </div>
</li>
